<!DOCTYPE html>
<html lang="en">
  <head>
      <meta lang="ru">
      <meta charset="utf-8">
      <link rel="stylesheet" href="../static/404.css">
      <title>Ошибка</title>
      <style>
              .picture { background-image: url("{{ url_for('static',filename='images/MainPicture.png') }}") }
              @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap');
              @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display:wght@400;500&display=swap');
      </style>
  </head>
<body>
    <div class="picture">
      <figure class="bp_darker">
        <div class="bp_text">
          <p>В случае отказа или сбое работы системы, а также для получения  консультаций и технической поддержки необходимо обратиться по электронной почте:</p>
          <a class="mail" href="mailto:ddryskova2002@gmail.com?subject=Вопрос по сайту 'Кофейня'">ddryskova2002@gmail.com.</a>
        </div>
      </figure>
    </div>
</body>
</html>