<!DOCTYPE html>
<html>
    <head>
        <meta lang="ru">
        <meta charset="utf-8">
        <title>Кофейня - Условия доставки</title>
        <link rel="stylesheet" href="../static/delivery.css">
        <style>
            .big_picture { background-image: url("{{ url_for('static',filename='images/galery2.png') }}") }
        </style>
    </head>
    <body>
        <div class="main_window">
            <div class="top_panel">
                <a href="/" class="logo_ref"><img src="../static/images/logo.png" alt="logo" class="logo"></a>
                <a href="/menu" class="top_panel_button" id="menu">Меню</a>
                <a href="/sale" class="top_panel_button" id="sale">Акции</a>
                <a href="/comments" class="top_panel_button" id="comments">Отзывы</a>
                <a href="/vacancy" class="top_panel_button" id="vacancy">Вакансии</a>
                <a href="/partners" class="top_panel_button" id="partners">Для партнёров</a>
            </div>
            <div class="big_picture">
                <div class="white_rect">
                    <div class="wr_text_container">
                        <p class="wr_h">Условия доставки</p>
                        <p class="wr_text">Мы доставляем заказы ежедневно с 9-30 до 20-30. Также<br> можно оформить предварительный заказ с доставкой в<br> указанный день и время или забрать самостоятельно в<br> кофейне «Кофейня».
                            <br><br>Связаться с нами можно по телефону:
                            <br>8-(846)-12-56-89 или по электронной почте
                            <br>coffe_house@mail.ru.</p>
                    </div>
                    <div class="wr_pics">
                        <img src="../static/images/del1.png" alt="" class="wr_pic_1">
                        <img src="../static/images/del2.png" alt="" class="wr_pic_2">
                    </div>
                </div>
            </div>
            <div class="temp"></div>
            <footer>
                <p class="footer_h">Контакты</p>
                <div class="contacts">
                    <div class="contacts_left">
                        <div class="contacts_1">
                            <img src="../static/images/vk.png" alt="" class="con_img">
                            <p class="con_text">vk.com/coffe_house</p>
                        </div>
                        <div class="contacts_1">
                            <img src="../static/images/telegram.png" alt="" class="con_img">
                            <p class="con_text">@coffe_house</p>
                        </div>
                    </div>
                    <div class="contacts_right">
                        <div class="contacts_1">
                            <img src="../static/images/email.png" alt="" class="con_img">
                            <p class="con_text">coffe_house@mail.ru</p>
                        </div>
                        <div class="contacts_1">
                            <img src="../static/images/number.png" alt="" class="con_img">
                            <p class="con_text">8-(846)-12-56-89</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>