html, body {
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
}

.main_window {
    position: relative;
    height: 1024px;
    width: 1920px;
    left: calc(50% - 1920px/2);

    background-color: white;
}

.temp {
    position: relative;
    width: inherit;
    height: 100px;
    background-color: white;
}

.logo {
    position: relative;
    width: 158px;
    height: 30px;
}

.logo_ref {
    position: relative;
    top: 20px;
    left: calc(158px/2);

    width: 158px;
    height: 30px;
}

.top_panel {
    position: fixed;
    width: inherit;
    height: 70px;
    left: inherit;
    top: 0px;
    display: flex;

    background-image: url(top_panel.png);

    z-index: 9999999;
}

.top_panel_button {
    position: relative;
    top: 35%;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;

    line-height: 27px;

    text-align: center;

    color: #FFFFFF;
}

#menu {
    position: relative;
    left: 55%;
}

#sale {
    position: relative;
    left: 58%;
}

#comments {
    position: relative;
    left: 61%;
}

#vacancy {
    position: relative;
    left: 64%;
}

#partners {
    position: relative;
    left: 67%;
}

.sale_h_text {
    position: relative;
    padding-left: 100px;
    margin: 0;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    /* identical to box height */


    color: #000000;
}

.sale_text_container {
    padding-left: 100px;
}

.sale_text_h {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #000000;
}

.sale_text {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #000000;
}


footer {
    position: relative;
    height: 400px;
    width: inherit;
    display: flex;

    background-color: #1E1E1E;
}

.footer_h {
    position: relative;
    padding-left: 200px;
    padding-top: 100px;
    margin: 0;

    font-family: 'Cormorant Garamond';
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;

    color: #FFFFFF;
}

.contacts {
    position: relative;
    padding-left: 900px;
    padding-top: 100px;

    display: flex;
}

.contacts_left {
    position: relative;
    margin: 10px;
}

.contacts_right {
    position: relative;
    margin: 10px;
}

.contacts_1 {
    display: flex;
}

.con_img {
    width: 20px;
    height: 18px;
    margin: 10px;
}

.con_text {
    margin: 0;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    /* identical to box height, or 182% */

    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #FFFFFF;
}